/*================ BREAKPOINTS ====================*/

$breakpoints: (
  large: 992px,
  medium: 768px,
  small: 576px,
  extra-small: 350px,
);

/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

/* For normal devices */
@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
